.leaflet-flower-icon {
  position: relative;
  width: 64px;
  height: 64px;
}

.leaflet-flower-icon .marker-bg {
  position: absolute;
  top: 6px;
  left: 14px;
  background-color: white;
  width: 1px;
  height: 1px;
  border: 18px solid white;
  border-radius: 30px;
}
.leaflet-flower-icon .marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
  fill: #d80027;
}

.blooming svg {
  fill: #efef00;
}

.bearing-fruits svg {
  fill: #ffa500;
}

.leaflet-flower-icon .marker svg {
  filter: drop-shadow(2px 1px 2px #000);
  z-index: -1;
}

.leaflet-flower-icon .flower {
  left: 17px;
  top: 9px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.leaflet-flower-icon .flower svg {
  fill: green;
  z-index: -1;
}
