.flex-container {
    display: flex;
    width: 100%;
    height: 768px;
    align-items: center;
    justify-content: center;
}
.flex-centered-item {
    min-width: 1024px;
    width: 100%;
    height: 768px;
    padding: 0;
    margin: 0;
}
